<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Тестовое задание python dev API pay-trio</h1>
            <form action="/" class="form-horizontal" role="form" method="post">
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-3 control-label">Сумма оплаты</label>
                    <div class="col-md-3">
                        <input name="amount" type="number" class="form-control" min=0 step="any" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-3 control-label">Валюта оплаты</label>
                    <div class="col-md-3">
                        <select class="form-control" name="currency" required>
                            <option value="RUB">RUB</option>
                            <option value="UAH">UAH</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-md-offset-3 control-label">Описание товара</label>
                    <div class="col-md-3">
                        <textarea name="description" class="form-control"></textarea>
                    </div>
                </div>
                <div class="succesButton">
                    <button type="submit" class="col-md-4 col-md-offset-4 btn btn-success">Оплатить</button>
                </div>
            </form>
        </div>
        {% if error %}
        <div class="row erorr">
            <p>Ошибка: {{error}}</p>
        </div>
        {% endif %}

    </div>
</body>
</html>